@page
@model Antonia_Cozma_Examen.Pages.Motociclete.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Motocicleta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Motocicleta.Model" class="control-label"></label>
                <input asp-for="Motocicleta.Model" class="form-control" />
                <span asp-validation-for="Motocicleta.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motocicleta.An" class="control-label"></label>
                <input asp-for="Motocicleta.An" class="form-control" />
                <span asp-validation-for="Motocicleta.An" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motocicleta.Pret" class="control-label"></label>
                <input asp-for="Motocicleta.Pret" class="form-control" />
                <span asp-validation-for="Motocicleta.Pret" class="text-danger"></span>
            </div>
            <div class="form-group"> <label asp-for="Motocicleta.PretID" class="control-label">Pret</label> <select asp-for="Motocicleta.PretID" class="form-control" asp-items="ViewBag.PretID"> </select> <span asp-validation-for="Motocicleta.PretID" class="text-danger"></span> </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
